.movie-container {
    width: 100%;
}

.movie-banner {
    height: 500px;
    width: 100%;
    background-color: black;
}

.movie-title-container {
    padding: 20px 40px;
    -webkit-text-stroke-color: black;
}

.movie-title-container > h1 {
    font-size: 70px;
    font-weight: 400;
}


